.sideMenu {
    .menuItem {
        font-size: .8rem;
        background-color: #ccc;
        padding: 1rem;
    }
    .menuItem:hover {
        font-size: .8rem;
        background-color: #ddd;
        padding: 1rem;
    }
}


