.largerThumbnail {
    width: calc(69rem / 4);    
}
.smallerThumbnail {
    width: calc(70rem / 5);
}

.adThumbnail {   
    .title {
        font-size: 1rem;
    }
    .description {
        font-size: .8rem;
    }
    .price {
        font-size: .8rem;
    }
}